{% extends 'eventstud/base.html' %}
{% load static %}

{% block navbar %}
{% with current_nav='registered' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block body %}
{{ block.super }}
<!DOCTYPE html>
<html>
<head>
	<title>Registered Event</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$.ajax({
				url : "/history/data/",
				success : function(result){
					result = result.events
					$('#tabelevent').append("<tbody>");
					for (i = 0 ; i < result.length ; i++){
						var baris = "<tr><td><img src = '" + result[i].thumbnail_image_url + "' class='img-thumbnail'></td><td> " + result[i].title + "</td><td>" + result[i].venue + "</td><td>" + result[i].time_start + "</td><td>" + result[i].time_end + "</td><td>" + result[i].description +"</td></tr>";
						$('#tabelevent').append(baris)
					}
					$('#tabelevent').append("</tbody>");
				}
			})
		})
	</script>
</head>
<body>
	<div style="margin: 10% 10%">
		<h2>My Registered Event</h2>
		<div class="table-responsive">
			<table id="tabelevent" class="table" border="#1F1E21" style="width: 100%">
				<tr bgcolor="#9EE49F">
					<th style="width: 20%">Image</th>
					<th style="width: 20%">Event Name</th>
					<th style="width: 15%">Venue</th>
					<th style="width: 10%">Time Start</th>
					<th style="width: 10%">Time End</th>
					<th style="width: 25%">Description</th>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>
{% endblock body %}

{% block style %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/style_events.css' %}">
{% endblock style %}