{% extends 'eventstud/base.html' %}
{% load static %}

{% block navbar %}
{% with current_nav='events' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block body %}
{{ block.super }}
  <div id='event-header-image' class="jumbotron jumbotron-fluid" style="background-image: url({{ event.main_image_url }});">
  </div>
  <div class="container m-auto">
    <main role="main" class="inner main my-5">
      <div class="row">
        <div class="col-md m-2">
          <div class="row">
            <img class="mx-auto mb-5" src="{{ event.thumbnail_image_url }}" style="width:93%; height:93%">
            <div class="col-lg-7">
              <h1 class="font-weight-bold">{{ event.title }}</h1>
              <h3 class="font-weight-bold">{{ event.fee }}</h3>
            </div>
            <div class="col-lg-5 my-3">
              <h5><span class="text-nowrap">{{ event.time_start.date }}</span>
              {% if event.time_start.date != event.time_end.date %} -
              <span class="text-nowrap">{{ event.time_end.date }}</span>{% endif %}</h5>
              <h5><span class="text-nowrap">{{ event.time_start.time }}</span> -
              <span class="text-nowrap">{{ event.time_end.time }}</span></h5>
              <h5>{{ event.venue }}</h5>
            </div>
          </div>
          <div class="text-justify my-5">
          {{ event.description|linebreaks }}
          </div>
        </div>
        <div class="col-md m-2">
          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endif %}
          <h3 id="register" class="font-weight-bold">REGISTER TO THIS EVENT</h3>
          <form class="font-weight-medium" method="post">
            {% csrf_token %}
            {% for field in form.visible_fields %}
              <label class="mt-3" for="{{ field.name }}">{{ field.label }}</label>
              <div class="input-group mb-1">
              {{ field }}
              </div>
              {% for error in field.errors %}
              <div class="input-group">
              <strong class="text-danger">{{ error|escape }}</strong>
              </div>
              {% endfor %}
            {% endfor %}
            <button type="submit" class="btn btn-custom my-4 font-weight-medium">
              REGISTER
            </button>
          </form>
          <h3 id="attendees" class="mt-5 mb-3">Attendees:</h3>
          {% if event.attendees.all.count != 0 %}
          <table class="table">
            <thead class="thead-custom">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Username</th>
            </tr>
            </thead>
            <tbody>
            {% for attendee in event.attendees.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ attendee.username }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>No attendees yet.</p>
          {% endif %}
        </div>
      </div>
    </main>
  </div>
{% endblock body %}

{% block style %}
{{ block.super }}
  <link rel="stylesheet" href="{% static 'css/style_events.css' %}">
{% endblock style %}

{% block scripts %}
{{ block.super }}
{% if anchor %}
  <script type='text/javascript'>
    $(document).ready(function(){
        window.location = '#{{ anchor }}'
    });
  </script>
{% endif %}
{% endblock scripts%}
