{% extends 'eventstud/base.html' %}
{% load static %}

{% block navbar %}
{% with current_nav='events' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block body %}
{{ block.super }}
  <div class="container m-auto">
    <main role="main" class="inner main mt-5 py-5">
      <div id="event-list-header">
      <h1 class="font-weight-bold px-1 py-2">EVENTS</h1>
      <p class="text-secondary pl-3 my-3">
      {% if event_list %}
          Click on an event's name to register.
      {% else %}
          No events available.
      {% endif %}
      </p>
      </div>

      {% if event_list %}
      <div class="table-responsive my-5 px-4 py-2">
        <table class="table">
          <thead class="thead-custom">
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Event Name</th>
            <th scope="col">Date</th>
            <th scope="col">Venue</th>
            <th scope="col">Description</th>
          </tr>
          </thead>
          <tbody>
          {% for event in event_list %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'events:detail' event.pk %}">{{ event.title }}</a></td>
            <td>{{ event.time_start.date }}</td>
            <td>{{ event.venue }}</td>
            <td>{{ event.description|linebreaks }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </main>
  </div>
{% endblock body %}

{% block style %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/style_events.css' %}">
{% endblock style %}
