{% extends 'eventstud/base.html' %}
{% load static %}

{% block navbar %}
{% with current_nav='home' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block body %}
{{ block.super }}
	<div id="header-image" class="jumbotron text-white">
		<div class="centerme">
			<h1 align="center"><span class="font-weight-light">CREATE AND JOIN</span>
			<span class="font-weight-bold">EVENTS</span>
			<span class="font-weight-light">MORE EASILY</span>
			</h1>
		</div>
	</div>

	<div class="container">
		<center><h3>MARK YOUR DATE!</h3></center>
		<br>
		<br>
	</div>

	<div class="col-sm">
		<div class="card-columns">
			{% for event in event_list %}
			<div class="card bg-dark text-white">
				<img id="card-img-culture" class="card-img-top" src="{{ event.thumbnail_image_url }}" alt="2017-900x506-afm-hero" alt="Card image">
				<div class="card-body">
					<h4 class="card-title">{{ event.title }}</h4>
					<span><p class="card-text"><img src="https://image.flaticon.com/icons/svg/33/33700.svg" width="25px">  {{ event.organizer_email }}</span></p>
					<span><p class="card-date"><img src="https://image.flaticon.com/icons/svg/747/747310.svg" width="25px">  {{ event.time_start.date }}</span></p>
					<a href="{% url 'events2:detail' event.pk %}" class="float-right btn btn-dark purple-background dark-text">JOIN</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<link rel="stylesheet" href="{% static 'css/style_home.css' %}"
{% endblock body %}
