{% extends 'eventstud/base.html' %}
{% load static %}

{% block navbar %}
{% with current_nav='register' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block body %}
{{ block.super }}
    <div class='background_regis' style="background: url({% static 'img/background-concert.png' %});">
        <div class="title">
            <h1>CREATE NEW MEMBER</h1>
        </div>
        <form class="result" action="/registermember/" method="POST">
            {% csrf_token %}
            {% for i in form%}
            <div class="form-group" >
                {{ i.label_tag }}
                {{ i }}
            </div>
            {% endfor %}
            <div class="rgstr">
                <input type="submit" value="SIGN UP">
            </div>
        </form>
    </div>
<link rel="stylesheet" href="{% static 'css/style_register_member.css' %}">
{% endblock body %}
