<footer class="page-footer font-small">
	<div class="container">
		<div class="row text-center">
			<div class="col-sm py-4">
				<span>
					<img class="m-3" src="https://image.flaticon.com/icons/svg/149/149984.svg" height="50px">
					<p class="card-tex font-weight-bold">
						Jl. Prof. Dr. Nugroho Notosutanto, Depok, Beji, Pondok Cina
					</p>
				</span>
			</div>
			<div class="col-sm py-4">
				<span>
          <img class="m-3" src="https://image.flaticon.com/icons/svg/9/9243.svg" height="50px">
          <p class="card-text font-weight-bold">
          Phone: +62 21368 254 09
          </p>
        </span>
			</div>
			<div class="col-sm py-4">
				<span>
          <img class="m-3" src="https://image.flaticon.com/icons/svg/181/181535.svg" height="50px">
          <p class="card-text font-weight-bold">
          EventStud@gmail.com
          </p>
        </span>
			</div>
		</div>
	</div>
	<div class="footer-expand-md footer-dark footer-custom-bg absolute-bottom text-white">
		<div class="footer-text text-center py-3 font-weight-light">© 2018 — EventStud</div>
	</div>
</footer>
