<nav class="navbar navbar-expand-lg navbar-dark navbar-custom-bg sticky-top">
    <a class="navbar-brand font-weight-bold" href="{% url 'home:index' %}">EVENT STUD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav px-5">
            <li class="nav-item mx-3">
                <a class="nav-link{% if current_nav == 'home' %} font-weight-bold{% endif %}" href="{% url 'home:index' %}">HOME</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link{% if current_nav == 'register' %} font-weight-bold{% endif %}" href="{% url 'register_member:index' %}">REGISTER</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link{% if current_nav == 'news' %} font-weight-bold{% endif %}" href="{% url 'newspage:tampilNews' %}">NEWS</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link{% if current_nav == 'events' %} font-weight-bold{% endif %}" href="{% url 'events2:index' %}">EVENTS</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item mx-3">
                <a class="nav-link{% if current_nav == 'registered' %} font-weight-bold{% endif %}" href="{% url 'history:historyPage' %}">REGISTERED</a>
            </li>
          {% endif %}
            <li class="nav-item mx-3">
                <a class="nav-link{% if current_nav == 'about' %} font-weight-bold{% endif %}" href="{% url 'aboutus_page:index' %}">ABOUT US</a>
            </li>

            {% if user.is_authenticated %}
            <a class="p nav-link navbar-nav" href= "{% url 'home:logout'%}">
              <span class="text-white" style="padding-right: 10px">Hello, {{ user.username }}</span>
              <div class="left">
                <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
              </div> Log Out</a>
          {% else %}
          <a class="tulisan nav-link navbar-nav" href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none">
              <center><div class="left">
                  <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
              </div> Login with Google
              </center>
          </a>
          {% endif %}
        </ul>
    </div>
</nav>