.form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.line {
  display: block;
  border-top: 8px solid #580a76;
  width: 10%;
  margin-bottom: 2rem;
}

.testimonials-form {
  font-family: "Hind", Roboto;
  padding: 2rem 7rem;
}

.testimonials-form h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.title-with-line .line {
  width: 20%;
}

.btn-primary {
  background-color: #bb6bd9;
  border-color: #580a76;
  font-weight: 600;
  border-radius: 16px;
  color: black;
}

.text-area {
  display: flex;
  margin: 0px;
  border-radius: 16px;
  border-color: #580a76;
  border-style: solid;
  border-width: medium;
}

.testimonials-list {
  padding: 2rem;
}

.testimonials-list h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.testimony-set {
  height: 240px;
  width: 30%;
  border-color: #bb6bd9;
  border-radius: 16px;
  margin-right: 28px;
  margin-bottom: 24px;
  word-break: break-word;
}

.testimony-set p {
  text-align: center;
}

.blank-space {
  height: 0;
  width: 30%;
  margin-right: 28px;
}

@media screen and (max-width: 768px) {
  .testimonials-form {
    padding: 2rem 1rem;
  }

  .testimony-set {
    height: 250px;
    width: 100%;
    margin: 0.7rem 1rem;
  }
}
