{% extends 'eventstud/base.html' %}
{% load staticfiles %}

{% block navbar %}
{% with current_nav='about' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block body %}
    {{ block.super }}
    {% if user.is_authenticated %}
    <section class="testimonials-form">
        <div class="title-with-line d-flex justify-content-center align-items-center flex-column">
            <h1 align="center">APA KATA KAMU?</h1>
            <div class="line"></div> 
        </div>  
        {% csrf_token %}
        <div class="form-group">
            <textarea class="from-control text-area" placeholder="Testimoni Here" rows=5 id="comment"></textarea>
        </div>
        <div class="submit-btn d-flex justify-content-end align-items-center">
            <input type="button" onclick="saveTestimoni()" class="btn-primary btn" value="SUBMIT">
        </div>
    </section>
    {% endif %}
    <section class="testimonials-list">
        <div class="title-with-line d-flex justify-content-center align-items-center flex-column">
            <h1 align="center">KATA MEREKA</h1>
            <div class="line"></div>
        </div>
        <div id="testimony" class="testimony d-flex flex-wrap justify-content-center align-items-center">
            {% for testimony in data %}
                <div class="testimony-set d-flex justify-content-center align-items-center flex-column">
                    <p class="testimony-txt">“{{ testimony.text }}” </p>
                    <p class="testimoners"><strong>{{ testimony.name }}</strong></p>
                </div>
            {% endfor %}
            <div class="blank-space"></div>
            <div class="blank-space"></div>
        </div>
    </section>
{% endblock body %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/style_about_us.css' %}">
{% endblock style %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/testimoni.js' %}"></script>
{% endblock scripts %}
