#event-header-image {
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 50vw;
    background-color: white;
}

.container main {
    min-height: 100vh;
}

.thead-custom {
    background-color: #BD6FD5;
}

.thead-custom tr {
    color: white;
}

.form-control-custom {
    display: block;
    width: 100%;
    height: calc(2.5rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 2;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 4px solid #5B1C73;
    border-radius: 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-custom:focus {
  color: #495057;
  background-color: #fff;
  border-color: #BD6FD5;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(180, 76, 222, 0.5);
}

.btn-custom {
    color: white;
    background-color: #BD6FD5;
    border-color: #BD6FD5;
}

.btn-custom:hover {
  color: white;
  background-color: #5B1C73;
  border-color: #5B1C73;
}

.btn-custom:focus, .btn-custom.focus {
  box-shadow: 0 0 0 0.2rem rgba(180, 76, 222, 0.5);
}

.btn-custom.disabled, .btn-custom:disabled {
  color: #fff;
  background-color: #BD6FD5;
  border-color: #BD6FD5;
}

.btn-custom:not(:disabled):not(.disabled):active, .btn-custom:not(:disabled):not(.disabled).active,
.show > .btn-custom.dropdown-toggle {
  color: #fff;
  background-color: #5B1C73;
  border-color: #5B1C73;
}

.btn-custom:not(:disabled):not(.disabled):active:focus, .btn-custom:not(:disabled):not(.disabled).active:focus,
.show > .btn-custom.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(180, 76, 222, 0.5);
}