html, body {
    font-family: Roboto, 'sans-serif';
}

.navbar-custom-bg {
    background-color: #340F40;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.footer-custom-bg {
    background-color: #250F2C;
}

.h-em-1 {
    height: 1em;
}
