html,body {
    font-family: Roboto;
}

.background_regis {
    background-size: cover;
    height: 1148px;
    width: 100%;
    padding: 4rem 35% 0 35%;
}

.title{
    padding:5rem;
    text-align:center;
}

h1 {
    font-weight: 600;
}
label{
    height: 51px;
    font-size: 25px;
}
.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.register{
    display: flex;
    flex-direction: row;

}

input {
    display:flex;
    margin:0px;
    border-radius: 16px;
    border-color:#580A76;
    border-style: solid;
    border-width: medium;
}

input[type=submit] {
    width:120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
label {
    font-size:20px;
    margin-bottom:0px;
}

.form-group {
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.rgstr {
    display:flex;
    justify-content:flex-start;
}
.rgstr input {
    background-color:#BB6BD9;
    color:black;
}


@media screen and (max-width: 768px) {
    .background_regis {
        background-size: cover;
        height: 1100px;
        padding: 2rem 2rem 0 2rem;
    }

    input[type=submit] {
        width:120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rgstr {
        margin-top: 1rem;
    }
}
