#header-image {
	background: url(https://preview.ibb.co/koLDwL/5b6162075379fe2930488303-2.jpg) repeat;
	background-size: 100%;
	height: 100vh;
	margin-bottom: 50px;
}

.btn {
	border-radius: 20px;
	margin-bottom: 20px;
}
.centerme {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.purple-background {background-color:#ff00ff;}
.white {color:#ffffff;}
.dark-text {color: #000000}

.card-img-top {
	width: 82%;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 38px;
}

.float-right {
	margin-right: 30px;
}

.card-title {
	font-family: helvetica;
}

.ftr {
	background-color: #0000ff;
}

.card-date {
	font-size: 14px;
}
