{% extends 'eventstud/base.html' %}
{% load static %}

{% block navbar %}
{% with current_nav='news' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block body %}
{{ block.super }}
	<div>
		<div class="row">
			<div>
				<img src="{% static 'img/utama.jpg' %}" class="img-fluid">
			</div>
			<div style="margin: 1% 15%">
				<br>
				<h3 style="text-align: center;"><strong>{{objek.judul}}</strong></h3>
			<h6 style="text-align: center;">{{objek.waktu}}</h6>
				<p style="text-align: center;">
					<img src={{objek.linkfoto}} class="img-fluid" style="width: 60%">
				</p>
				<p style="text-align: justify;">{{objek.content}}</p>
			</div>
		</div>
	</div>
{% endblock body %}
