{% extends 'eventstud/base.html' %}
{% load static %}

{% block navbar %}
{% with current_nav='news' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block body %}
{{ block.super }}
	<div style="margin: 10% 20%">
		<h3>NEWS</h3>
		<div class="row" style="margin-top: 8%">
		{% for e in datanews %}
		  <div class="col">
		  	<div class="row">
			  <div class="col-4">
			  	<img src={{e.linkfoto}} class="img-thumbnail">
			  </div>
			  <div class="col-8">
			  	<h4><strong>{{e.judul}}</strong></h4>
			  	<h6>{{e.waktu}}</h6>
			  	<p style="text-align: justify;">{{e.shortdesc}}</p>
			  	<a class="btn btn-info float-right" href="/news/{{e.id}}">Read More</a>
			  </div>
			</div>
		  </div>
		  <div class="w-100"></div>
		  <br>
		{% endfor %}
		</div>
	</div>
{% endblock body %}