{% if event.attendees.all.count != 0 %}
<table class="table">
  <thead class="thead-custom">
  <tr>
      <th scope="col">No.</th>
      <th scope="col">Username</th>
  </tr>
  </thead>
  <tbody id="attendee-list-tbody">
  {% for attendee in event.attendees.all %}
  <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td user-id="{{ attendee.id }}">{{ attendee.user.username }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p id="">No attendees yet.</p>
{% endif %}
