{% extends 'eventstud/base.html' %}
{% load static %}

{% block navbar %}
{% with current_nav='events' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block body %}
{{ block.super }}
  <div id='event-header-image' class="jumbotron jumbotron-fluid" style="background-image: url({{ event.main_image_url }});">
  </div>
  <div class="container m-auto">
    <main role="main" class="inner main my-5">
      <div class="row">
        <div class="col-md m-2">
          <div class="row">
            <img class="mx-auto mb-5" src="{{ event.thumbnail_image_url }}" style="width:93%; height:93%">
            <div class="col-lg-7">
              <h1 class="font-weight-bold">{{ event.title }}</h1>
              <h3 class="font-weight-bold">{{ event.fee }}</h3>
            </div>
            <div class="col-lg-5 my-3">
              <h5><span class="text-nowrap">{{ event.time_start.date }}</span>
              {% if event.time_start.date != event.time_end.date %} -
              <span class="text-nowrap">{{ event.time_end.date }}</span>{% endif %}</h5>
              <h5><span class="text-nowrap">{{ event.time_start.time }}</span> -
              <span class="text-nowrap">{{ event.time_end.time }}</span></h5>
              <h5>{{ event.venue }}</h5>
            </div>
          </div>
          <div class="text-justify my-5">
          {{ event.description|linebreaks }}
          </div>
        </div>
        <div class="col-md m-2">
          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endif %}
          <h3 id="register" class="font-weight-bold">REGISTER TO THIS EVENT</h3>
          <form id="register-form" class="font-weight-medium" method="post">
            {% csrf_token %}
            {% if mode == "login" %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-custom my-4" data-toggle="modal" data-target="#login-modal">
              REGISTER
            </button>
            {% else %}
            <button id="register-button" type="submit" class="btn btn-custom my-4 font-weight-medium">
              {{ mode.upper }}
            </button>
            {% endif %}
          </form>
          <h3 id="attendees" class="mt-5 mb-3">Attendees:</h3>
          <div id="attendee-list">
            {% include 'events2/attendee-list.html' %}
          </div>
        </div>
      </div>
    </main>
  </div>

{% if mode == "login" %}
<!-- Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="login-modal-label">Login required</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please log in to register to this event.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-custom"><img class="h-em-1 mr-2"src="{% static 'img/gapi/Google__G__Logo.svg' %}">Login with Google</a>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock body %}

{% block style %}
{{ block.super }}
  <link rel="stylesheet" href="{% static 'css/style_events.css' %}">
{% endblock style %}

{% block scripts %}
{{ block.super }}
<script src={% static 'events2/js/attendee.js' %}></script>
{% if anchor %}
  <script type='text/javascript'>
    $(document).ready(function(){
        window.location = '#{{ anchor }}'
    });
  </script>
{% endif %}
{% endblock scripts%}
